// Login
#tc-login {
	overflow: hidden;
}
#tc-login-language {
	float: right;
	border: 0;
	.ant-menu-submenu-selected {
		border: 0;
	}
	.anticon {
		font-size: 16px;
	}
}
#tc-login-card {
	margin: 80px auto;
	max-width: 300px;
}
.tc-login-icon {
	color: rgba(0, 0, 0, 0.25);
}
.tc-login-alert {
	margin: 0 0 10px;
}
#tc-login-forgot {
	float: right;
}
// Portal
#tc-portal-title {
	float: left;
	margin: 0 20px 0 0;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
}
#tc-portal-title>b {
	font-weight: 500;
}
#tc-portal-language,
#tc-portal-menu {
	float: right;
	line-height: 64px;
	.anticon {
		font-size: 16px;
	}
}
#tc-portal-language .ant-menu-submenu-selected {
	color: rgba(255, 255, 255, 0.65);
}
#tc-portal-content {
	padding: 0 50px;
}
.tc-portal-breadcrumb {
	margin: 16px 0;
}
#tc-portal-main {
	background: #fff;
	padding: 24px;
	min-height: 280px;
	.anticon-loading {
		display: block;
		margin: 50px auto;
		font-size: 32px;
	}
}
#tc-portal-footer {
	text-align: center;
}
