// Login
#tc-login {
	overflow: hidden;
}
#tc-login-language {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 17px;
	color: #777;
}
#tc-login-card {
	margin: 80px auto;
	max-width: 300px;
}
.tc-login-icon {
	color: rgba(0,0,0,0.25);
}
#tc-login-alert {
	margin: 0 0 10px;
}
#tc-login-forgot {
	float: right;
}
// Portal
#tc-portal-title {
	float: left;
	margin: 0 20px 0 0;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
}
#tc-portal-menu {
	float: right;
	line-height: 64px;
}
#tc-portal-language {
	float: right;
	margin: 22px 0 0 20px;
	font-size: 19px;
	color: #ccc;
	transition: all 0.3s;
}
#tc-portal-language:hover {
	color: #fff;
}
#tc-portal-content {
	padding: 0 50px;
}
.tc-portal-breadcrumb {
	margin: 16px 0;
}
#tc-portal-footer {
	text-align: center;
}
