// Login
#tc-login {
	overflow: hidden;
}
#tc-login-language {
	display: block;
	margin: 10px 15px 0 auto;
}
#tc-login-card {
	margin: 80px auto;
	max-width: 300px;
}
.tc-login-icon {
	color: rgba(0,0,0,.25);
}
#tc-login-alert {
	margin: 0 0 10px;
}
#tc-login-forgot {
	float: right;
}
// Portal
#tc-portal-title {
	float: left;
	margin: 0 20px 0 0;
	font-size: 20px;
	font-weight: 100;
	color: #fff;
}
#tc-portal-menu {
	float: right;
	line-height: 64px;
}
#tc-portal-language {
	float: right;
	margin: 20px 0 0 20px;
}
#tc-portal-content {
	padding: 0 50px;
}
.tc-portal-breadcrumb {
	margin: 16px 0;
}
#tc-portal-footer {
	text-align: center;
}
